<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/materialize.min.css' %}" type="text/css">
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col m6 push-m3">
            {% block tinyuri %}{% endblock %}
        </div>
    </div>
</div>
<script type="text/javascript" src="{% static 'js/materialize.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/ux.js' %}"></script>
</body>
</html>