{% extends "base.html" %}
{% block title %} Shorten URL {% endblock %}
{% block tinyuri %}

    <div class="card">
        <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">Shorten your URL</span>
            <form method="get" action=".">
                <input placeholder="{{ form.long_uri.label }}" type="url" name="long_uri" maxlength="200"
                       required>
            </form>
            <p>{% if tiny_uri %}
                <i id="url"> {{ tiny_uri }}</i>&nbsp;<a id="button">Copy</a>
            {% endif %}</p>
        </div>
    </div>

{% endblock %}